.RESOURCEEDIT {
    display: inline-block;
}

.RESOURCEEDIT h2 {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;;
}

.RESOURCEEDIT .actions {
    margin: 20px 10px;
}

.RESOURCEEDIT .actionButton {
    background-color: white; 
    color: #D60A52;
    padding: 5px; 
    margin: 5px; 
    border-radius: 5px;
    cursor: pointer;
}

.RESOURCEEDIT .actionButton:hover {
    background-color: #f3e9ec;
    color: #b80a47;
}

.RESOURCEEDIT .errorText {
    color: white;
    white-space: pre-wrap;
    font-size: 0.8em;
    padding: 10px;
}

.container {
    background-color: transparent !important;
}

.ant-input {
    width: 200px !important; 
}

.ant-select {
    width: 200px !important; 
}

.tools .ant-select {
    width: 100px !important; 
}

.tools {
    top: 5px !important;
}

.indexLine {
    background-color: #eeeeee90  ;
    padding: 5px 0 5px 5px;
}

.iconSubtraction {
    background-color: white;
    height: 20px;
    display: inline-block;
    width: 20px;
    vertical-align: super;
    margin-right: 5px;
}

.anticon-minus-square {
    vertical-align: sub;
}

.anticon-minus-square svg {
    width: 20px;
}

.anticon-plus-square {
    background-color: white;
    padding: 5px;
}