.APPOINTMENT h2 {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline;
}

.APPOINTMENT .docs {
    color: white;
    display: inline;
    margin-left: 20px;
}

.APPOINTMENT .addNew {
    color: white;
    display: inline;
    margin-left: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.APPOINTMENT .list {
    width: 100%;
    padding: 0;
}

.APPOINTMENT .item {
    display: block;
    width: 100%;
}