.DOCUMENTREFERENCE h2 {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline;
}

.DOCUMENTREFERENCE .docs {
    color: white;
    display: inline;
    margin-left: 20px;
}

.DOCUMENTREFERENCE .list {
    width: 100%;
    padding: 0;
}

.DOCUMENTREFERENCE .item {
    display: block;
    width: 100%;
}